html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #323234;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "Works Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 26px;
  font-weight: 400;
  background: #fff;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

.auto__container {
  position: relative;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 40px;
}

.main {
  overflow: hidden;
}

h1 {
  font-weight: 700;
  font-size: 120px;
  line-height: 144px;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-weight: 600;
  font-size: 46px;
  line-height: 77px;
  color: #1b353a;
}

h3 {
  font-size: 46px;
  line-height: 46px;
  font-weight: 600;
  position: relative;
  background: linear-gradient(96.1deg, #9327ff 4.83%, #00b6e9 87.78%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3::before {
  position: absolute;
  content: "";
  bottom: -45px;
  left: 50%;
  width: 68px;
  height: 1px;
  background-color: #f57c36;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

h4 {
  font-size: 35px;
  line-height: 44px;
  font-weight: 700;
}
h4.sm {
  font-size: 30px;
  line-height: 40px;
}

h5 {
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  color: #498794;
}

h6 {
  font-size: 20px;
  line-height: 23px;
  font-weight: 700;
}
h6.sm {
  font-size: 15px;
  line-height: 21px;
}

p.ex {
  font-size: 14px;
  line-height: 20px;
}
p.sm {
  font-size: 17px;
  line-height: 28px;
}
p.big {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

main {
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 57px;
  background: linear-gradient(317.41deg, #3d3080 4.69%, #ae29ff 92.53%), linear-gradient(0deg, #f6753e, #f6753e);
  padding: 12px 20px;
  border: 0.72px solid #f6753e;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  -webkit-box-shadow: 0px 34.8235549927px 64.7880096436px 0px #ac31df78;
          box-shadow: 0px 34.8235549927px 64.7880096436px 0px #ac31df78;
  color: #fff;
  position: relative;
}
.button:hover {
  opacity: 1;
}
.button:hover::before {
  -webkit-animation: buttonBefore 0.7s linear infinite;
          animation: buttonBefore 0.7s linear infinite;
}
.button:hover::after {
  -webkit-animation: buttonAfter 0.7s linear infinite;
          animation: buttonAfter 0.7s linear infinite;
}
.button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 16px;
  margin-right: 7px;
}
.button span img {
  width: 100%;
}
.button::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  background-color: transparent;
  border: 0.64px solid #f95a80;
  opacity: 0.5;
  border-radius: 57px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: calc(100% + 32px);
  height: calc(100% + 32px);
  background-color: transparent;
  border: 0.64px solid #f95a80;
  opacity: 0.15;
  border-radius: 57px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

@-webkit-keyframes ball {
  52% {
    -webkit-transform: translateX(-50px) scale(1) rotate(0);
            transform: translateX(-50px) scale(1) rotate(0);
  }
  56% {
    -webkit-transform: translateX(-300px) scale(1) rotate(360deg);
            transform: translateX(-300px) scale(1) rotate(360deg);
  }
  59% {
    -webkit-transform: translateX(-90px) scale(1.3) rotate(0);
            transform: translateX(-90px) scale(1.3) rotate(0);
  }
  63% {
    -webkit-transform: translateX(-300px) scale(1) rotate(360deg);
            transform: translateX(-300px) scale(1) rotate(360deg);
  }
  65% {
    -webkit-transform: translateX(-90px) scale(1) rotate(0);
            transform: translateX(-90px) scale(1) rotate(0);
  }
  70% {
    -webkit-transform: translateX(-300px) scale(1) rotate(360deg);
            transform: translateX(-300px) scale(1) rotate(360deg);
    opacity: 1;
  }
  76% {
    -webkit-transform: translateX(-550px) scale(1) rotate(360deg);
            transform: translateX(-550px) scale(1) rotate(360deg);
    opacity: 0;
  }
}

@keyframes ball {
  52% {
    -webkit-transform: translateX(-50px) scale(1) rotate(0);
            transform: translateX(-50px) scale(1) rotate(0);
  }
  56% {
    -webkit-transform: translateX(-300px) scale(1) rotate(360deg);
            transform: translateX(-300px) scale(1) rotate(360deg);
  }
  59% {
    -webkit-transform: translateX(-90px) scale(1.3) rotate(0);
            transform: translateX(-90px) scale(1.3) rotate(0);
  }
  63% {
    -webkit-transform: translateX(-300px) scale(1) rotate(360deg);
            transform: translateX(-300px) scale(1) rotate(360deg);
  }
  65% {
    -webkit-transform: translateX(-90px) scale(1) rotate(0);
            transform: translateX(-90px) scale(1) rotate(0);
  }
  70% {
    -webkit-transform: translateX(-300px) scale(1) rotate(360deg);
            transform: translateX(-300px) scale(1) rotate(360deg);
    opacity: 1;
  }
  76% {
    -webkit-transform: translateX(-550px) scale(1) rotate(360deg);
            transform: translateX(-550px) scale(1) rotate(360deg);
    opacity: 0;
  }
}
@-webkit-keyframes buttonBefore {
  0% {
    opacity: 0.5;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
}
@keyframes buttonBefore {
  0% {
    opacity: 0.5;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.2);
            transform: translate(-50%, -50%) scale(1.2);
  }
}
@-webkit-keyframes buttonAfter {
  0% {
    opacity: 0.15;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.3);
            transform: translate(-50%, -50%) scale(1.3);
  }
}
@keyframes buttonAfter {
  0% {
    opacity: 0.15;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.3);
            transform: translate(-50%, -50%) scale(1.3);
  }
}
@-webkit-keyframes loop {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(350deg);
            transform: translate(-50%, -50%) rotate(350deg);
  }
}
@keyframes loop {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0);
            transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(350deg);
            transform: translate(-50%, -50%) rotate(350deg);
  }
}
@-webkit-keyframes bucklet {
  0% {
    -webkit-transform: translate(-40%, -70%) rotate(30deg);
            transform: translate(-40%, -70%) rotate(30deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}
@keyframes bucklet {
  0% {
    -webkit-transform: translate(-40%, -70%) rotate(30deg);
            transform: translate(-40%, -70%) rotate(30deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}
@-webkit-keyframes bucklet2 {
  0% {
    -webkit-transform: translate(-60%, -40%) rotate(-20deg);
            transform: translate(-60%, -40%) rotate(-20deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}
@keyframes bucklet2 {
  0% {
    -webkit-transform: translate(-60%, -40%) rotate(-20deg);
            transform: translate(-60%, -40%) rotate(-20deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2%, 0);
    transform: translate3d(0, 2%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 2%, 0);
    transform: translate3d(0, 2%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.sponsors__inner {
  padding-bottom: 142px;
}
.sponsors__inner h2 {
  margin-bottom: 30px;
  text-align: center;
}
.sponsors__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.sponsors__inner-row:last-child {
  margin: unset;
}
.sponsors__inner-row-link {
  width: calc(16.6% - 24px);
}
.sponsors__inner-row-link-image {
  padding-bottom: 34.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.sponsors__inner-row-link-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: translate(-50%, -50%);
  -moz-ransform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.product__inner h2 {
  text-align: center;
  margin-bottom: 30px;
}
.product__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product__inner-row .productItem {
  padding: 54px 43px 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}