html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #323234;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #fff;
  line-height: 26px;
  font-weight: 400;
  background: #000;
}

a {
  text-decoration: none;
  opacity: 1;
  color: #fff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}
a:hover {
  opacity: 0.88;
}

.auto__container {
  position: relative;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 40px;
}

h1 {
  font-weight: 600;
  font-size: 93px;
  line-height: 110px;
}

h2 {
  font-size: 46px;
  line-height: 77px;
}

h3 {
  font-size: 36px;
  line-height: 51px;
  font-weight: 700;
}

h4 {
  font-size: 32px;
  line-height: 53px;
  font-weight: 600;
}

h5 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
}

h6 {
  font-size: 22px;
  line-height: 28px;
}

p.big {
  font-size: 24px;
  line-height: 28px;
}

main {
  overflow: hidden;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 57px;
  background: linear-gradient(317.41deg, #3D3080 4.69%, #AE29FF 92.53%), linear-gradient(0deg, #F6753E, #F6753E);
  padding: 12px 20px;
  border: 0.72px solid #F6753E;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  cursor: pointer;
  -webkit-box-shadow: 0px 34.8235549927px 64.7880096436px 0px #AC31DF78;
          box-shadow: 0px 34.8235549927px 64.7880096436px 0px #AC31DF78;
  color: #fff;
  position: relative;
}
.button:hover {
  opacity: 1;
}
.button:hover::before {
  -webkit-animation: buttonBefore 0.7s linear infinite;
          animation: buttonBefore 0.7s linear infinite;
}
.button:hover::after {
  -webkit-animation: buttonAfter 0.7s linear infinite;
          animation: buttonAfter 0.7s linear infinite;
}
.button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 16px;
  margin-right: 7px;
}
.button span img {
  width: 100%;
}
.button::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  background-color: transparent;
  border: 0.64px solid #F95A80;
  opacity: 0.5;
  border-radius: 57px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}
.button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: calc(100% + 32px);
  height: calc(100% + 32px);
  background-color: transparent;
  border: 0.64px solid #F95A80;
  opacity: 0.15;
  border-radius: 57px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    display: none;
  }
}