// colors
$primary: #7331FF;
$black: #000;
$white: #fff;
$blue: #31A8FF;
$pink : #D595FF;
$gray: #9E9E9E;
// fonts
$inter: 'Inter', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$nunito: 'Nunito', sans-serif;


