// colors
$primary: #1B353A;
$black: #474747;
$white: #fff;
$blue: #498794;
$pink : #D595FF;
$gray: #9E9E9E;
// fonts
$inter: 'Inter', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$nunito: 'Nunito', sans-serif;
