.hero {
  padding: 165px 0 80px;
  position: relative;
  background-color: $main-light;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
  }
  &__inner {
    text-align: center;
    color: $white;
    display: flex;
    flex-direction: column;
    h1 {
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 60px;
    }
    .button {
      width: 100%;
      max-width: 255px;
      margin: 0 auto;
    }
    &-image {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
<<<<<<< HEAD
      }
=======
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__leaves {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 16%;
        bottom: 50%;
        right: 0;
        img {
            width: 100%;
        }
    }
    &__inner {
        text-align: center;
        color: $white;
        display: flex;
        flex-direction: column;
        h1 {
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 60px;
        }
        .button {
            width: 100%;
            max-width: 255px;
            margin: 0 auto;
        }
        &-image {
            margin: -13% 0 0 8%;
            display: flex;
            justify-content: center;
            align-items: center;
     
            img {
                width: 100%;
            }
        }
>>>>>>> 2f0e068bc15c298e61894efca40a5bdced68afb9
    }
  }
}
// 1380px
@mixin hero-xxxlg-xxxxlg {
}
// 1250px
@mixin hero-xlg-xxlg-extra {
  .hero {
  }
}
// 1180px
@mixin hero-xlg-xxlg {
  .hero {
  }
}
// 1024px
@mixin hero-lg-xlg {
  .hero {
  }
}
// 930px
@mixin hero-md-lg {
  .hero {
  }
}
// 750px
@mixin hero-sm-md {
  .hero {
  }
}
// 540px
@mixin hero-xsm-sm {
  .hero {
  }
}
.intro {
    padding: 90px 0 90px;
    &__inner {
        h2 {
            text-align: center;
            margin-bottom: 90px;
        }
    
    }
    &Item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 220px;
        &:nth-of-type(2) {
            .introItem__shape {
                left: unset;
                right: 25%;
                bottom: -10%;
            }
        }
        &__content {
            width: calc(45% - 30px);
            max-width: 448px;
        }
        &__image {
            width: calc(55% - 30px);
            max-width: 554px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            img {
                width: 100%;
            }
        }
        &__shape {
            position: absolute;
            left: 0;
            bottom: -20%;
            width: 200%;
            height: 160%;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            z-index: -1;
            img {
                width: 100%;
                height: 100%;
                max-height: 640px;
                object-fit: contain;
            }
        }
        h4 {
            margin-bottom: 20px;
        }
    }
}
// SPONSORS
.sponsors {
  &__inner {
    padding-bottom: 142px;
    h2 {
      margin-bottom: 30px;
      text-align: center;
      color: $black-2;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      &:last-child {
        margin: unset;
      }
      &-link {
        width: calc(16.6% - 24px);
        &-image {
          padding-bottom: 34.5%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          img {
            position: absolute;
            top: 50%;
            left: 50%;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            @include transform;
          }
        }
      }
    }
  }
}
// products
.product {
  background-image: url("../images/product/productBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  &__inner {
    padding: 60px 0 104px;
    max-width: 920px;
    margin: 0 auto;
    h2 {
      text-align: center;
      margin-bottom: 30px;
      color: $black-2;
    }
    &-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      &:last-child {
        margin-bottom: unset;
      }
      .productItem {
        padding: 54px 43px 65px;
        box-sizing: border-box;
        width: calc(50% - 14px);
        max-width: 448px;
        background-color: $white;
        border-radius: 20px;
        text-align: center;
        h5 {
          color: $main;
          margin-bottom: 10px;
        }
        p {
          color: $black;
        }
        &__image {
          margin-bottom: 41px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          padding-bottom: 66.7%;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}
// club
.club {
  &__inner {
    padding: 153px 0 119px;

    &-row {
      padding: 48px 90px 48px 77px;
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 20px;
      position: relative;
      h3{
        max-width: 400px;
        color: $white;
        position: relative;
        z-index: 2;
      }
      .button{
        position: relative;
        z-index: 2;
        padding: 25px 90px 26px;
        font-size: 24px;
        line-height: 28px;
        border-radius: 43px;
      }
      &-bg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &-image{
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 128px;
          width: 30%;
          position: absolute;
          top: -51px;
          left: 28px;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
          &:nth-child(2){
            max-width: 173px;
            top: unset;
            left: unset;
            bottom: -28px;
            right: -69px;
          }
        }
      }
    }
  }
}
.intro {
  padding: 90px 0 90px;
  &__inner {
    h2 {
      text-align: center;
      margin-bottom: 90px;
    }
  }
  &Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 220px;
    &:nth-of-type(2) {
      .introItem__shape {
        left: unset;
        right: 25%;
      }
    }
    &__content {
      width: calc(45% - 30px);
      max-width: 448px;
    }
    &__image {
      width: calc(55% - 30px);
      max-width: 554px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
    }
    &__shape {
      position: absolute;
      left: 0;
      bottom: -20%;
      width: 200%;
      height: 160%;
      display: flex;
      justify-content: center;
      align-items: center;
      // pointer-events: none;
      z-index: -1;
      img {
        width: 100%;
      }
    }
    h4 {
      margin-bottom: 20px;
    }
  }
}
