h1 {
    font-weight: 600;
    font-size: 93px;
    line-height: 110px;
}

h2 {
    font-size: 46px;
    line-height: 77px;
}

h3 {
    font-size: 36px;
    line-height: 51px;
    font-weight: 700;
}

h4 {
    font-size: 32px;
    line-height: 53px;
    font-weight: 600;
}

h5 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
}

h6 {
    font-size: 22px;
    line-height: 28px;
}
p {
    &.big {
        font-size: 24px;
        line-height: 28px;
    }
}
main {
    overflow: hidden;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 57px;
    background: linear-gradient(317.41deg, #3D3080 4.69%, #AE29FF 92.53%),
    linear-gradient(0deg, #F6753E, #F6753E);
    padding: 12px 20px;
    border: 0.72px solid #F6753E;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0px 34.82355499267578px 64.78800964355469px 0px #AC31DF78;
    color: $white;
    position: relative;
    &:hover {
        opacity: 1;
        &::before {
           animation: buttonBefore .7s linear infinite;
        }
        &::after {
            animation: buttonAfter .7s linear infinite;
         }
    }
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 16px;
        margin-right: 7px;
        img {
            width: 100%;
        }
    }
    &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        width: calc(100% + 16px);
        height: calc(100% + 16px);
        background-color: transparent;
        border: 0.64px solid #F95A80;
        // box-shadow: 0px 30.70704460144043px 57.12938690185547px 0px #F6733F80;
        opacity: .5;
        border-radius: 57px;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
    &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        width: calc(100% + 32px);
        height: calc(100% + 32px);
        background-color: transparent;
        border: 0.64px solid #F95A80;
        // box-shadow: 0px 30.70704460144043px 57.12938690185547px 0px #F6733F80;
        opacity: .15;
        border-radius: 57px;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

